@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:700");

body, input, select, textarea {
  color: #003366;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 240px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 5px 5px 8px RGBA(0,0,0,.7);
}

.top-bar{
  padding: 0rem;
  margin: 0;
  background-color: white;
}
.top-bar-right, .top-bar ul {
  background-color: white;
}

.menu > li > a {
  padding: .3rem 1rem;
}

.medium {
  font-size: 32px;
  line-height: 32px;
}

#footer img, #top-menu-complete img, #top-menu-short img{
  opacity: 0.6;
}

#footer img:hover, #top-menu-complete img:hover, #top-menu-short img:hover{
  opacity: 0.9;
}

.callout {
  border: none;
}

#burger {
  display: block;
  padding: .7rem 1rem;
  line-height: 1;
  float:right;
}

#small-menu li {
  display: block;
}

.bigpic {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 240px;
  margin-bottom: 30px;
}

hr.large {
 max-width: 100%;
 }

#home-header {
  background-image: url("/images/pages/bg-home.jpg");
}

#not-found-header {
  background-image: url("/images/pages/bg-home.jpg");
}

#local-team-header {
  background-image: url("/images/pages/bg-team.jpg");
}

#location-header {
  background-image: url("/images/pages/bg-location.jpg");
}
