---
layout: default
speakers:
  - name: Angel Ramirez Navarro
    description: CEO of GTD
    pic: angelRamirez.jpg
    logo: test
  - name: José Mariano López-Urdiales
    description: CEO of Zero 2 Infinity
    pic: joseMariano.jpg
    logo:
  - name: Marco Bressan
    description: Chief Data Scientist of Satellogic
    pic: marcoBressan.jpg
    logo:
  - name: Ariadna Farrés Basiana
    description: PhD in Applied Mathematics and Scientist at NASA's Goddard Space Flight Center
    pic: ari.jpg
    logo:
  - name: Elisabet Canalias
    description: Scientist at CNES. Participated in the landing operations of the Philae lander in the Rosetta mission.
    pic: elisabet.jpg
    logo:
---
<div id="home-header" class="callout large bigpic">
  <div class="row column text-center">
    <div style="display: flex; justify-content: space-around; align-items: center;">
      <div>
        <img style="width: 80%; padding: 10px; padding-bottom: 30px; padding-top: 30px;" src="{{ site.baseurl }}/images/spaceuplogo.png" alt="SpaceUp Barcelona" />
      </div>
    <div>
      <h2 style="color: white;  font-family: monospace,sans-serif; font-size: 2.3vw;">May 12-13th | 2018</h2>
      <a class="button primary" style="cursor: default; background-color: #00235d; font-size: 2vw;">Registration will open soon!</a>
    </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns medium-push-6">
    <img class="thumbnail" src="{{ site.baseurl }}/images/main.jpg">
  </div>
  <div class="medium-6 columns medium-pull-6">
    <h2>The Space Unconference</h2>
    <p>SpaceUp Barcelona is a two-days space unconference, where participants decide the topics, schedule, and structure of the event. Everyone who attends SpaceUp is encouraged to give a talk, moderate a panel, or start a discussion. Sessions are proposed and scheduled on the day they’re given, which means the usual <i>hallway conversations</i> turn into full-fledged topics.</p>
  </div>
</div>
<hr>
<div class="row">
  <h2 style="text-align: right; margin-right: 10px;">Featured Speakers</h2>
  <div class="news-image-gallery-container">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
          <div style="display: flex; justify-content: space-around;">
            <button class="orbit-previous" style="color:#003366;"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <ul class="orbit-container" style="width: 80%; height: auto;">
              {% for speaker in page.speakers %}
              <li  {% if forloop.index0 == '0' %} class="is-active orbit-slide" {% else %} class="orbit-slide" {% endif %}>
                <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
                  <img src="{{ site.baseurl }}/images/speakers/{{ speaker.pic }}" style="margin-right: 20px; width: 80mm; height: 80mm;">
                  <div style="flex: 1 1 50%;">
                    <h3>{{ speaker.name }}
                    </h3>
                    <p>{{ speaker.description }}</p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            <button class="orbit-next" style="color:#003366;"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          </div>
          <nav class="orbit-bullets">
            {% for speaker in page.speakers %}
            <button data-slide="{{forloop.index0}}"></button>
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="medium-4 columns">
    <h3>The basics</h3>
    <img class="thumbnail" src="{{ site.baseurl }}/images/basics.jpg">
    <p>SpaceUp is an unconference, also known as a user-generated conference or a BarCamp. There are no spectators at SpaceUp, only participants. All attendees are expected to give a demo, present a talk, or participate in a panel or roundtable. <a href="http://spaceup.org/agenda/">Learn at the SpaceUp site more about how it works</a></p>
  </div>
  <div class="medium-4 columns">
    <h3>T minus 5 Talks</h3>
    <img class="thumbnail" src="{{ site.baseurl }}/images/talks.jpg">
    <p>One of the most exciting parts of SpaceUp is T minus 5, a series of short talks in the <a href="http://www.ignitetalks.io/">Ignite format</a>. Each speaker gets 5 minutes to talk, with 20 slides that rotate automatically every 15 seconds. It’s a fun format that’s more like karaoke than giving a presentation; it’s tough to keep up with your slides, but the friendly crowd cheers you on.</p>
  </div>
  <div class="medium-4 columns">
    <h3>Venue</h3>
    <a href="/location"><img class="thumbnail" src="{{ site.baseurl }}/images/venue.jpg"></a>
    <p>SpaceUp Barcelona 2018 will take place on May 12-13th at the headquarters of GTD System & Software Engineering in Barcelona. <a href="{{ site.baseurl }}/location">See how to get there</a>.</p>
  </div>
</div>
