---
layout: default
title: Sponsors
permalink: /sponsors/
sponsors:
  - name: KIM
    link: http://kimglobal.com/en/
    pic: kim.svg
  - name: GTD
    link: http://www.gtd.eu/
    pic: gtd.svg
  - name: Tinkerers Lab
    link: http://www.tinkerers.tech
    pic: tinkerers.jpg
  - name: Ticketea
    link: https://www.ticketea.com/
    pic: ticketea.png
  - name: Valispace
    link: http://www.valispace.com/
    pic: valispace.png
partners:
  - name: International Space University
    link: http://www.isunet.edu
    pic: isu.svg
  - name: SGAC
    link: http://www.spacegeneration.org/
    pic: sgac.jpg
  - name: World Space Week
    link: http://www.worldspaceweek.org/
    pic: wsw.svg
  - name: Comunitat NewSpace Barcelona
    link: https://www.facebook.com/comunitatnewspace/
    pic: cnb.jpg
---

<div id="sponsors-header" class="bigpic">
  <h1>Sponsors</h1>
</div>

<div class="row column">
  <h3>Sponsors:</h3>
</div>

<div class="row small-up-1 medium-up-2 large-up-3">
{% for sponsor in page.sponsors %}
  <div class="column">
    <a href="{{ sponsor.link }}" target="_blank">
      <img class="thumbnail no-border" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" src="{{ site.baseurl }}/images/sponsors/{{ sponsor.pic }}" width="442" >
    </a>
  </div>
{% endfor %}
</div>

<div class="row column">
  <h3>Partners:</h3>
</div>

<div class="row small-up-2 large-up-4">
{% for partner in page.partners %}
  <div class="column">
    <a href="{{ partner.link }}" target="_blank">
      <img class="thumbnail no-border" alt="{{ partner.name }}" title="{{ partner.name }}" src="{{ site.baseurl }}/images/sponsors/{{ partner.pic }}" width="330" >
    </a>
  </div>
{% endfor %}
</div>

<div class="row column">
  <br><br>
  <p>SpaceUp Barcelona would not be posible without the generous support of our partners, sponsors and collaborators. A special thank you to all of them!</p>

  <p>If you're interested in sponsoring or supporting SpaceUp BCN please take a look at <a href="{{ site.baseurl }}/files/SpaceUpBarcelonaSponsorBrochureEN.pdf">last year's sponsorship brochure [pdf]</a> (also available <a href="{{ site.baseurl }}/files/SpaceUpBarcelonaSponsorBrochureES.pdf">in spanish</a>). If in doubt please <a href="{{ site.baseurl }}/contact">contact us</a>.</p>
</div>
