---
layout: default
title: Organising Team
permalink: /team/
members:
  - name: Armengol Torres
    description:  IT and aerospace senior consultant. He is the National Coordinators Manager at World Space Week and the founder and president of Comunitat NewSpace (NewSpace Cluster).
    twitter: armengoltorres
    pic: armengol.png
  - name: Marta Lebrón
    description: Freelance translator and linguist. She is passionate about space and astronomy. She is the editing team coordinator for the Space Generation Advisory Council and she also collaborates with World Space Week.
    twitter: MLbluespace
    pic: marta.png
  - name: Milena Orlandini
    description: Science and technology communication specialist, leading a R&D project in Space Technology and Digital Fabrication, as part of ESA-BIC Barcelona. Regional partner of UN World Space Week and SpaceUp Barcelona.
    twitter: OrlandiniSpazio
    pic: milena.png
  - name: Juanjo Bazán
    description: M.Sc. in Astrophysics. Open Source Software Developer and Open Science advocate. Galactic and intergalactic space lover. 🦄👾🚀
    twitter: xuanxu
    pic: juanjo.png
  - name: Clara Giménez
    description: Physics student at Universitat de Barcelona. She aspires to become an astrophysicist and her dream is to become an astronaut. She is enthusiastic about anything space related.
    twitter: astro_clarry
    pic: clara.png
  - name: Oriol Gásquez
    description: Aerospace engineer, CEO of Onyriq, cofounder of STEAMakers. Former Google Lunar XPrize HAKUTO (Japan) software eng. and ISU SSP15
    twitter: Oriol_GG
    pic: oriol.png
  - name: Holger Voss
    description: Space geek, astrophysicist working for Gaia mission, University of Barcelona (@GaiaUB), scale model rocketeer, mission director for #MoonDot missions of @Mausonaut
    twitter: SpaceHolgar
    pic: holger.jpg
  - name: Jeroen Toelen
    description: SInnovation Officer for Colruyt Group. Space aficionado, tech enthusiast and (time)traveler.  He’s the lead organiser at TEDxFlanders.
    twitter: JeroenToelen
    pic: jeroen.jpg
---

<div id="team-header" class="bigpic">
  <h1>Organising Team</h1>
</div>

<div class="row small-up-1 medium-up-2 large-up-3">
{% for member in page.members %}
  <div class="column">
    <img class="thumbnail" src="/images/team/{{ member.pic }}">
    <h5>{{ member.name }}</h5>
    <p>{{ member.description }}</p>
    {% if member.twitter != '' %}
      <a href="https://twitter.com/{{ member.twitter }}" class="button small hollow">@{{ member.twitter }}</a>
    {% endif %}
  </div>
{% endfor %}
</div>