<hr class="large">
<div id="footer" class="row column">
  <ul class="menu">
    <li>
      <a href="http://spaceup.org">
        <img src="{{ site.baseurl }}/images/icons/spaceup-small.png" alt="SpaceUp.org" title="SpaceUp.org">
      </a>
    </li>

    <li>
      <a href="https://github.com/xuanxu/spaceup_bcn">
        <img src="{{ site.baseurl }}/images/icons/github-small.png" alt="Github" title="Code for this website is opensourced in Github">
      </a>
    </li>

    <li>
      <a href="mailto:spaceup.bcn@gmail.com">
        <img src="{{ site.baseurl }}/images/icons/email-small.png" alt="spaceup.bcn@gmail.com" title="Email us at spaceup.bcn@gmail.com">
      </a>
    </li>

    <li>
      <a href="https://twitter.com/SpaceUpBCN">
        <img src="{{ site.baseurl }}/images/icons/twitter-small.png" alt="Twitter" title="Follow @SpaceUpBCN">
      </a>
    </li>

    <li>
      <a href="https://www.facebook.com/SpaceUpBarcelona">
        <img src="{{ site.baseurl }}/images/icons/facebook-small.png" alt="Facebook" title="Like us on Facebook">
      </a>
    </li>

    <li>
      <a href="https://www.instagram.com/spaceupbcn/">
        <img src="{{ site.baseurl }}/images/icons/instagram-small.png" alt="Instagram" title="Follow our Instagram feed">
      </a>
    </li>

    <li>
      <a href="https://www.flickr.com/groups/spaceup-bcn">
        <img src="{{ site.baseurl }}/images/icons/flickr-small.png" alt="Flickr" title="Visit the SpaceUp BCN Flickr group">
      </a>
    </li>

    <li>
      <a href="http://2016.spaceupbcn.org">
        <small>2016<small>
      </a>
    </li>
  </ul>
</div>

<script src="{{ site.baseurl }}/js/vendor/jquery-2.2.3.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/foundation.min.js"></script>
<script>$(document).foundation();</script>
