<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/css/foundation.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/spaceup.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/foundation-icons.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}" />
  <link rel="icon" href="{{ "/images/icon32.png" | prepend: site.baseurl }}" sizes="32x32"/>
  <link rel="apple-touch-icon" type="image/png" href="{{ "/images/apple-touch-icon.png" | prepend: site.baseurl }}" sizes="200x200" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:700&effect=neon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic" rel="stylesheet">

  <!-- Facebook OG -->
  <meta property="article:publisher" content="http://spaceupbcn.org" />
  <meta property="article:author" content="https://www.facebook.com/SpaceUpBarcelona"/>
  <meta property="og:type" content="article"/>
  <meta property="og:site_name" content="SpaceUp Barcelona"/>
  <meta id="ogtitle" property="og:title" content="SpaceUp Barcelona" />
  <meta id="ogurl" property="og:url" content="http://spaceupbcn.org"/>
  <meta id="ogimage" property="og:image" content="http://www.spaceupbcn.org/images/apple-touch-icon.png"/>
  <meta id="ogdescription" property="og:description" content="SpaceUp Barcelona is a two-days space unconference, where participants decide the topics, schedule, and structure of the event. 2018 edition coming soon."/>
  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@SpaceUpBCN" />
  <meta name="twitter:title" content="SpaceUp Barcelona" />
  <meta name="twitter:description" content="SpaceUp Barcelona (2018 edition coming soon) is a two-days space unconference, where participants decide the topics, schedule, and structure of the event." />
  <meta name="twitter:image" content="http://www.spaceupbcn.org/images/apple-touch-icon.png" />
</head>