<div class="top-bar">
  <div class="top-bar-right">

    <span id="burger" data-responsive-toggle="small-menu" data-hide-for="medium" class="show-for-small-only">
      <span class="menu-icon dark" data-toggle></span>
    </span>

    <ul class="menu hide-for-small-only">
      {% if page.url != '/' %}
      <li><a href="/">Home</a></li>
      {% endif %}
      <li><a title="Coming soon">Program</a></li>
      <li><a title="Coming soon">Sponsors</a></li>
      <li><a title="Coming soon">How to get there?</a></li>
      <li><a href="/team/">Team</a></li>
      <li><a href="https://twitter.com/SpaceUpBCN"><img src="/images/social-twitter.png" alt="Twitter" title="Follow @SpaceUpBCN"></a></li>
      <li><a href="https://www.facebook.com/SpaceUpBarcelona"><img src="/images/social-facebook.png" alt="Facebook" title="Like us on Facebook"></a></li>
      <li><a href="https://www.flickr.com/groups/spaceup-bcn"><img src="/images/social-flickr.png" alt="Flickr" title="Visit the SpaceUp BCN Flickr group"></a></li>
    </ul>

    <ul class="menu show-for-small-only">
      <li><a href="/"><i class="fi-home medium"></i></a></li>
      <li><a href="https://twitter.com/SpaceUpBCN"><img src="/images/social-twitter.png" alt="Twitter" title="Follow @SpaceUpBCN"></a></li>
      <li><a href="https://www.facebook.com/SpaceUpBarcelona"><img src="/images/social-facebook.png" alt="Facebook" title="Like us on Facebook"></a></li>
      <li><a href="https://www.flickr.com/groups/spaceup-bcn"><img src="/images/social-flickr.png" alt="Flickr" title="Visit the SpaceUp BCN Flickr group"></a></li>
    </ul>

    <ul id="small-menu" class="show-for-small-only">
      <li><a title="Coming soon">Program</a></li>
      <li><a title="Coming soon">Sponsors</a></li>
      <li><a title="Coming soon">How to get there?</a></li>
      <li><a href="/team/">Team</a></li>
    </ul>
  </div>
</div>
