<div class="top-bar hide-for-small-only" {% if page.url != '/' %} style="display: flex; justify-content: space-between; align-items: center;" {% endif %}>
  {% if page.url != '/' %}
  <div class="top-bar-left">
      <a href="{{ site.baseurl }}/"><img style="width:180px; padding: 10px;" src="{{ site.baseurl }}/images/spaceuplogo.png" alt="SpaceUp Barcelona" /></a>
  </div>
  {% endif %}
  <div class="top-bar-right">
    <span id="burger" data-responsive-toggle="small-menu" data-hide-for="medium" class="show-for-small-only">
      <span class="menu-icon dark" data-toggle></span>
    </span>
    <ul id="top-menu-complete" class="menu hide-for-small-only">
      <li><a href="{{ site.baseurl }}/location">Location</a></li>
      <li><a href="{{ site.baseurl }}/schedule">Schedule</a></li>
      <li><a href="{{ site.baseurl }}/team">Team</a></li>
      <!--li><a href="/registration">Registration</a></li-->
      <li><a href="{{ site.baseurl }}/sponsors">Sponsors</a></li>
      <li><a href="https://twitter.com/SpaceUpBCN"><img src="{{ site.baseurl }}/images/icons/social-twitter.png" alt="Twitter" title="Follow @SpaceUpBCN"></a></li>
      <li><a href="https://www.facebook.com/SpaceUpBarcelona"><img src="{{ site.baseurl }}/images/icons/social-facebook.png" alt="Facebook" title="Like us on Facebook"></a></li>
      <li><a href="https://www.flickr.com/groups/spaceup-bcn"><img src="{{ site.baseurl }}/images/icons/social-flickr.png" alt="Flickr" title="Visit the SpaceUp BCN Flickr group"></a></li>
      <li><a href="https://www.instagram.com/spaceupbcn/"><img src="{{ site.baseurl }}/images/icons/social-instagram.png" alt="Instagram" title="Follow the SpaceUp BCN Instagram feed"></a></li>
      <li><a href="mailto:spaceup.bcn@gmail.com"><img src="{{ site.baseurl }}/images/icons/email.png" alt="spaceup.bcn@gmail.com" title="Email us at spaceup.bcn@gmail.com"></a></li>
    </ul>
  </div>
</div>

<div class="top-bar show-for-small-only" {% if page.url != '/' %} style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;" {% endif %}>
  {% if page.url != '/' %}
  <a href="{{ site.baseurl }}/"><img style="width:180px; padding: 10px;" src="{{ site.baseurl }}/images/spaceuplogo.png" alt="SpaceUp Barcelona" /></a>
  {% endif %}
  <div class="top-bar-right">
    <span id="burger" data-responsive-toggle="small-menu" data-hide-for="medium" class="show-for-small-only">
      <span class="menu-icon dark" data-toggle></span>
    </span>

    <ul id="top-menu-short">
      <li><a href="/"><i class="fi-home medium"></i></a></li>
      <li><a href="https://twitter.com/SpaceUpBCN"><img src="{{ site.baseurl }}/images/icons/social-twitter.png" alt="Twitter" title="Follow @SpaceUpBCN"></a></li>
      <li><a href="https://www.facebook.com/SpaceUpBarcelona"><img src="{{ site.baseurl }}/images/icons/social-facebook.png" alt="Facebook" title="Like us on Facebook"></a></li>
      <li><a href="https://www.flickr.com/groups/spaceup-bcn"><img src="{{ site.baseurl }}/images/icons/social-flickr.png" alt="Flickr" title="Visit the SpaceUp BCN Flickr group"></a></li>
      <li><a href="https://www.instagram.com/spaceupbcn/"><img src="{{ site.baseurl }}/images/icons/social-instagram.png" alt="Instagram" title="Follow the SpaceUp BCN Instagram feed"></a></li>
      <li><a href="mailto:spaceup.bcn@gmail.com"><img src="{{ site.baseurl }}/images/icons/email.png" alt="spaceup.bcn@gmail.com" title="Email us at spaceup.bcn@gmail.com"></a></li>
    </ul>

     <ul id="small-menu">
       <li><a href="{{ site.baseurl }}/location">Location</a></li>
       <li><a href="{{ site.baseurl }}/schedule">Schedule</a></li>
       <li><a href="{{ site.baseurl }}/team/">Team</a></li>
       <!--li><a href="/registration">Registration</a></li-->
       <li><a href="{{ site.baseurl }}/sponsors">Sponsors</a></li>
     </ul>
  </div>
</div>